<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movie Booking</title>
</head>
<body>
  <form action="#" th:object="${login}" th:action="@{/}" method="post">
    <div>
      Email Address: <input type="text" name="email" id="email" th:field="*{email}">
      <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
        Email Error
      </span>
    </div>
    <div>
      Birth Date: <input type="date" name="birthdate" id="birthdate" th:field="*{birthdate}">
      <span th:if="${#fields.hasErrors('birthdate')}" th:errors="*{birthdate}">
        Birth date error
      </span>
    </div>
    <input type="submit" value="Submit">
  </form>
</body>
</html>